/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  margin: 25px;
  padding: 25px;
  background-color: #e3e3e3;
  color: dimgray;
  font-family: 'Proxima Nova W01', sans-serif;
}

h1 {
  font-weight: bold;
  color: darkgray;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 0px;
  padding: 15px;
  background-color: #9ad3de;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 

#results-title {
  margin-bottom: 0px;
  padding-top: 0px;
}

.js-results-section {
  display: flow-root;
}

h2 {
  margin-top: 40px;
  margin-bottom: 0px;
}

.js-results-name {
  margin: 0px;
  padding: 0px;
}

.js-result-pic {
  float: left;
  display: inline;
  margin-right: 1em;
/*   margin: 20px; */
  max-width: 128px;
  max-height: 196px;
}

.js-results-info {
  /*position: absolute;
  margin-left: 8px;
  margin-top: -3px;
  width: 500px;
  min-height: 202px;*/
  float: left;
  max-width: 50ch;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1em;
  -o-text-overflow: ellipsis;
  -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.bold {
  font-weight: bold;
}

#js-next-page {
  margin-top: 20px;
}

.js-recommend {
  position: relative;
  /*margin-top: -200px;
  width: 54%;*/
  float: left;
}

.js-r-grid {
  padding-left: 1%;
  padding-right: 1%;
  width: 16%;
  height: 190px;
  margin: 0 auto;
  float: left;
}

.modal {
  position: fixed;
  top: 40px;
  left: 20%;
  right: 20%;
  width: 50%;
  height: 60%;
  padding: 50px;
  background-color: dimgray;
  border-radius: 25px;
}

.modal-box {
  box-sizing: border-box;
  background-color: #9ad3de;
  padding: 20px;
  border: 5px dotted #89bdd3;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.close-button {
  float: right;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.close:hover,
.close:focus {
  color: dimgray;
  
}

.modal-text {
  text-align: center;
  font-size: 20px;
  background-color: lightgray;
}

.hidden{
  display: none;
}

/*  .js-results-info {
   posistion: relative; 
   margin-left: 7px;
  display: block; 
position: relative;
  top: -150px;
  margin-left: 117px;
  box-sizing: border-box;
  height: 50px;
  width:50px; 
text-align: justify;
    text-justify: inter-word;
} */

.scroll {
  width: 100%; 
  height: 90%;
  padding-left: 5px;
  padding-right: 5px; 
  overflow: auto;
}
